# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

client_543639567153-r4ss4n8bhql8sasmmertoppkbtcncres.apps.googleusercontent.com.plist
client_secret_543639567153-31dkun47glm0rjmbsa24r0gqof3p0jrm.apps.googleusercontent.com.json
client_secret_543639567153-mpvcd0mo0q5hnu2ldvic8bjuf72gcf61.apps.googleusercontent.com.json
